<div>
	<div class="tabs">
		<ul class="tab-links">
			{{#each tagNames}}
			<li {{#if first}}class="active"{{/if}}><a href="#{{name}}">{{name}}</a></li>
			{{/each}}
			<li><a href="#All">All</a></li>
		</ul>
		<div class="tab-content">
	{{#each data}}
		<div id="{{tagName}}" class="tab {{#if first}}active{{/if}}">
		{{#each assets}}
			<div class="span3 asset" data-id="{{id}}" data-type="{{type}}" id="asset">
				{{#attributes}}

					<a href="{{url "/assets"}}/{{../type}}/{{../id}}" id="assetsLink">
						<div class="asset-icon">
							<input type="hidden"  value="{{overview_allowAnonymous}}" id="allowAnonymous" name="allowAnonymous">
							{{#if ../indashboard}}

							{{/if}}
							<img src="{{#if images_thumbnail}}{{images_thumbnail}}{{/if}}">
						</div>
					</a>

					<div class="asset-details">
						<div class="asset-name">
							<input type="hidden"  value="{{overview_allowAnonymous}}" id="allowAnonymous" name="allowAnonymous">
							<a href="{{url "/assets"}}/{{../type}}/{{../id}}" id="assetDeatils"> <h4>{{overview_displayName}}</h4></a>
						</div>
						<div class="asset-rating">
							<div class="asset-rating-{{../rating}}star"></div>
						</div>
						{{#if ../overview_skipGateway}}
							<style>.meta-gw-info {
								position: absolute;
								top: 25px;
								right: 5px;
								font-size: 10px;
								color: red;
							}</style>
							<div class="meta-gw-info"><i class="icon-remove"></i>Skipped Proxying</div>
						{{/if}}
						<div class="asset-author-category">
							<ul>
								<li>
									<h4>{{t "Version"}}</h4>
									<a class="asset-version" href="#">{{overview_version}}</a>
								</li>
								<li>
									<h4>{{t "Category"}}</h4>
									<a class="asset-category" href="#">{{cap ../type}}</a>
								</li>
								<li>
									<h4>{{t "Author"}}</h4>
									<a class="asset-author" href="#">{{overview_provider}}</a>
								</li>
							</ul>
						</div>
					</div>
				{{/attributes}}
			</div>
		{{/each}}
		</div>
	{{/each}}
			</div>
</div>
</div>
